<p>¡Bienvenido!</p>

<p>
  Me considero una persona resolutiva, comunicativa e inquieta. Estoy buscando
  continuar mi desarrollo en el mundo empresarial para vivir nuevos retos y
  disfrutar de proyectos en equipo.
</p>

<p>
  Soy ingeniero informático graduado en la Universidad de Alicante apasionado
  por el desarrollo de software y la automatización de procesos.
</p>

<p>
  Aunque llevo poco tiempo ejerciendo mi profesión, ya he creado una variedad de
  aplicaciones, incluyendo soluciones de escritorio, aplicaciones web, servicios
  API REST y proyectos que interactúan con servicios externos.
</p>

<p>
  A continuación, puedes encontrar información detallada sobre algunas de mis
  habilidades y sobre los proyectos en los que he participado.
</p>
<style>
  p {
    /*text-wrap: balance;*/
    margin-bottom: 1rem;
    text-align: justify;
    font-size: larger;
  }
</style>
