---
import Hero from "./Hero.astro";
import Section from "./Section.astro";
---

<div class="md:ml-52 md:mr-52 ml-9 mr-9">
  <Hero></Hero>
    <p>
      Soy un ingeniero recién graduado. Busco continuar mi formación en el mundo empresarial para desarrollar mis competencias profesionales.
    </p>
    <p>
      Todas las ramas de la informática llaman mi atención es por ello que deseo aprovechar mis años de juventud para poder obtener los máximos conocimientos.
    </p>
    <p>
      Actualmente estoy enfocado en aprender sobre programación Frontend y Backend.
    </p>
  <Section title="Experiencia">
    <h2>Akra Informática Coop V</h2>
    <small>ene 2023 - abr 2024</small>
    <p>
      Desarrollo de aplicaciones web y móviles.
    </p>
    <h2>Smurfit Kappa Iberoamericana SL</h2>
    <small>jun 2022 - dic 2022</small>
    <p>
      Soporte IT a la fábrica. Redes y shell scripting.
    </p>
  </Section>
  <Section title="Proyectos" />
  <Section title="Contacto" />
</div>

<style>
  h2 {
    font-size: 1.5rem;
    margin-top: 0rem;
  
  }
  p {
    text-wrap: balance;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: larger;
  }
  small {
    font-style: italic;
  }
</style>