---
import Hero from "./Hero.astro";
import AboutMe from "./AboutMe.astro";
import Tecnologias from "./Tecnologias.astro";
import Idiomas from "./Idiomas.astro"
import Experiencia from "./Experiencia.astro"
import Proyectos from "./Proyectos.astro"
import Contacto from "./Contacto.astro"
import BotonArriba from "./BotonArriba.astro"
---
<!-- ml-10 mr-10 sm:ml-40 sm:mr-40  lg:ml-80 lg:mr-80 -->
<main class="bg-indigo-300 dark:bg-indigo-500">
  <div class="contenido">
  <!-- <Hero /> -->
  <AboutMe></AboutMe>

  <div class="lg:grid lg:grid-cols-2 lg:gap-16">
  <Tecnologias></Tecnologias>

  <Idiomas></Idiomas>
</div>

  <Experiencia></Experiencia>

  <Proyectos></Proyectos>
  
  <!-- <Contacto></Contacto> -->

  <BotonArriba></BotonArriba>
</div>
</main>

<style>
  .contenido {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
  }
</style>