---
import Hero from "./Hero.astro";
import AboutMe from "./AboutMe.astro";
import Tecnologias from "./Tecnologias.astro";
import Idiomas from "./Idiomas.astro"
import Experiencia from "./Experiencia.astro"
import Proyectos from "./Proyectos.astro"
import Contacto from "./Contacto.astro"
import BotonArriba from "./BotonArriba.astro"
---

<div class="ml-9 mr-9 lg:md:ml-52 lg:md:mr-52">
  <!-- <Hero /> -->
  
  <AboutMe></AboutMe>

  <div class="lg:grid lg:grid-cols-2 lg:gap-16">
  <Tecnologias></Tecnologias>

  <Idiomas></Idiomas>
</div>

  <Experiencia></Experiencia>

  <Proyectos></Proyectos>
  
  <!-- <Contacto></Contacto> -->

  <BotonArriba></BotonArriba>
</div>
