---
import Hero from "./Hero.astro";
import Section from "./Section.astro";
import AboutMe from "./AboutMe.astro";
import Tecnologias from "./Tecnologias.astro";
import Idiomas from "./Idiomas.astro"
import Experiencia from "./Experiencia.astro"
import Proyectos from "./Proyectos.astro"
import Contacto from "./Contacto.astro"
---

<div class="md:ml-52 md:mr-52 ml-9 mr-9">
  <Hero />
  
  <AboutMe></AboutMe>

  <Tecnologias></Tecnologias>

  <Idiomas></Idiomas>

  <Experiencia></Experiencia>

  <Proyectos></Proyectos>
  
  <Contacto></Contacto>
</div>
