---
import { Icon } from "astro-icon/components";
---

<a class="chevron-up fixed bottom-12 right-4 bg-white dark:bg-gray-600  text-gray-700 dark:text-gray-200 p-2 rounded-full shadow-lg dark:shadow-gray-700 transition-opacity transition-transform opacity-0 invisible hover:opacity-100 hover:scale-110 hover:cursor-pointer" id="chevron-up">
  <Icon name="chevron-up" />
</a>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const chevronUp = document.getElementById('chevron-up');

    if (!chevronUp) return;

    // Agregar evento de clic para desplazamiento suave al inicio
    chevronUp.addEventListener('click', function (event) {
      event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace
      window.scrollTo({ top: 0, behavior: 'smooth' }); // Desplazamiento suave a la parte superior
    });

    window.addEventListener('scroll', function () {
      const scrollPosition = window.scrollY || document.documentElement.scrollTop;
      const windowHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrollPercentage = (scrollPosition / windowHeight) * 100;

      if (scrollPercentage > 1) { // Mostrar el botón después del 1% de scroll
        chevronUp.classList.remove('invisible');
        chevronUp.classList.add('opacity-100');
      } else {
        chevronUp.classList.add('invisible');
        chevronUp.classList.remove('opacity-100');
      }
    });
  });
</script>

<style>
  [data-icon] {
    font-size: 1.75em;
  }
</style>