---
import { Icon } from "astro-icon/components";
---

<a class="chevron-up" id="chevron-up" (onC) ><Icon name="chevron-up" /></a>

<style>
  .chevron-up {
    position: fixed;
    bottom: 50px;
    right: 17px;
    background-color: rgba(var(--text-color)); /* Fondo semi-transparente */
    padding: 10px; /* Espaciado interno */
    border-radius: 50%; /* Bordes redondeados */
    color: white; /* Color del icono */
    opacity: 0;
    cursor: pointer; /* Cambiar el cursor a manita */
    transition: opacity 0.3s, visibility 0.3s; /* Transición suave */
    opacity: 0; /* Oculto por defecto */
    visibility: hidden; /* Oculto por defecto */
    border: 2px solid rgba(var(--background-color));
  }

  .chevron-up.visible {
    opacity: 1; /* Visible */
    visibility: visible; /* Visible */
  }

  .chevron-up:hover {
    transform: scale(1.1);
  }

  [data-icon] {
    font-size: 1.25rem;
    color: rgba(var(--background-color));
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const chevronUp = document.getElementById('chevron-up');

    if (!chevronUp) return;

    // Agregar evento de clic para desplazamiento suave al inicio
    chevronUp.addEventListener('click', function (event) {
      event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace
      window.scrollTo({ top: 0, behavior: 'smooth' }); // Desplazamiento suave a la parte superior
    });

    window.addEventListener('scroll', function () {
      const scrollPosition = window.scrollY || document.documentElement.scrollTop;
      const windowHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrollPercentage = (scrollPosition / windowHeight) * 100;

      if (scrollPercentage > 1) { // Mostrar el botón después del 25% de scroll
        chevronUp.classList.add('visible');
      } else {
        chevronUp.classList.remove('visible');
      }
    });
  });
</script>