---
import Etiqueta from "./Etiqueta.astro";

// Props del componente
export interface Props {
  title: string;
  image: string;
  description: string;
}

const { title, image, description } = Astro.props;
---

<div class="card relative">
  <h2 class="card-title">{title}</h2>
  <!-- <img src={image} alt={title} class="card-image" /> -->
  <div class="card-content">
    <p>{description}</p>
    <div class="flex flex-row gap-4 justify-end absolute bottom-20 right-10 z-10">
      <slot />
    </div>
  </div>
</div>

<style>
  .card {
    border: 5px solid rgb(var(--text-color));
    background-color: rgb(var(--text-color));
    border-radius: 10% 30% 50% 70%;
    box-shadow: 0 2px 4px rgba(var(--text-color), 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 25rem;
    padding: 10px 10px 150px 10px;
    
    width: 500px;
    max-width: calc(100% - 2em);
  /* Estilos base para ocultar las tarjetas antes de que aparezcan */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Estilo cuando la tarjeta es visible */
.card.visible {
  opacity: 1;
  transform: translateY(0);
}

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(var(--text-color));
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 16px;
/*     
    border-radius: 8px;
    background-color: rgb(var(--background-color)); */
    /* height: 100%; */
  }

  .card-title {
    margin: 0 0 0.5rem 1rem;
    font-size: 1.5em;
  }

  /* Ocultar redes sociales en dispositivos móviles */
  @media (max-width: 625px) {
    .card {
      height: 30rem;
    }
  }
</style>
