---
// Props del componente
export interface Props {
  title: string;
  image: string;
  description: string;
}

const { title, image, description } = Astro.props;
---

<div class="card relative bg-white dark:bg-gray-600 shadow-lg dark:shadow-gray-700 transition-transform transform-gpu">
  <h2 class="card-title">{title}</h2>
  <!-- <img src={image} alt={title} class="card-image" /> -->
  <div class="card-content p-4">
    <p>{description}</p>
    <div class="flex flex-row gap-4 justify-end absolute bottom-20 right-10 z-10">
      <slot />
    </div>
  </div>
</div>

<style>
  .card {
    border-radius: 10% 30% 50% 70%;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    height: 25rem;
    padding: 10px 10px 150px 10px;
    width: 500px;
    max-width: calc(100% - 2em);
    opacity: 0;
    transition:
      opacity 1s ease-out,
      transform 1.5s ease-out;
  }

  /* Impares desde la izquierda */
  .card:nth-child(odd) {
    transform: translateX(-50px);
  }

  /* Pares desde la derecha */
  .card:nth-child(even) {
    transform: translateX(50px);
  }

  /* Estilo cuando la tarjeta es visible */
  .card.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    margin: 0 0 0.5rem 1rem;
    font-size: 1.5em;
  }

  /* Ocultar redes sociales en dispositivos móviles */
  @media (max-width: 625px) {
    .card {
      height: 30rem;
    }
  }
</style>
