---
// Props del componente
export interface Props {
  name: string;
  backgroundColor?: string; // Prop opcional para el color de fondo
  textColor?: string; // Prop opcional para el color del texto
}

const { name } = Astro.props; // Valores por defecto
---

<label class="etiqueta border border-gray-300 dark:border-gray-800 bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-gray-200">
  {name}
</label>


<style>
    .etiqueta {
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: 0.875rem;
      font-weight: 600;
      display: inline-block;
    }
  </style>
