---
import Section from "./Section.astro";
---

<Section title="Experiencia">
  <div>
    <h2>Akra Informática Coop V</h2>
    <small>ene 2023 - actualmente</small>
    <p>Desarrollo de aplicaciones web y móviles.</p>
    <h2>Smurfit Kappa Iberoamericana SL</h2>
    <small>jun 2022 - dic 2022</small>
    <p>Soporte IT a la fábrica. Redes y shell scripting.</p>
  </div>
</Section>

<style>
    h2 {
      font-size: 1.5rem;
      margin-top: 0rem;
    }
  
    small {
      font-style: italic;
    }
  </style>