---
import Section from "./Section.astro";
import Puesto from "./Puesto.astro";
---

<Section title="Experiencia">
  <div class="relative flex flex-col timeline justify-center items-center after:content-[''] after:absolute after:w-4 after:rounded-lg after:top-0 after:bottom-0 after:bg-white dark:after:bg-gray-600">
    <Puesto
      company="Smurfit Kappa Iberoamericana SL"
      duration="jun 2022 - dic 2022"
      description="Soporte IT a la fábrica. Redes y shell scripting."
    />
    <Puesto
      company="Akra Informática Coop V"
      duration="ene 2023 - actualidad"
      description="Desarrollo de aplicaciones."
    />
  </div>
</Section>

