---
import Section from "./Section.astro";
---

<Section title="Experiencia">
  <div class="flex flex-col timeline justify-center items-center">
    <div class="container right">
      <div class="content  text-black dark:text-white bg-indigo-400 dark:bg-indigo-800">
        <h2>Smurfit Kappa Iberoamericana SL</h2>
        <small>jun 2022 - dic 2022</small>
        <p>Soporte IT a la fábrica. Redes y shell scripting.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content text-black dark:text-white bg-indigo-400 dark:bg-indigo-800">
        <h2>Akra Informática Coop V</h2>
        <small>ene 2023 - actualidad</small>
        <p>Desarrollo de aplicaciones.</p>
      </div>
    </div>
  </div>
</Section>

<style>
  h2 {
    font-size: 1.5rem;
    margin-top: 0rem;
    width: 100%;
  }

  small {
    font-style: italic;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 20px;
    background-color: rgb(var(--text-color));
    top: 0;
    bottom: 0;
    border-radius: 15px;
  }

  /* Container around content */
  .container {
    padding: 30px 25px;
    position: relative;
    background-color: inherit;
    z-index: 1;
    width: 500px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
  }

  /* Place the container to the right */
  .right {
    left: 1.5%;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    position: relative;
    border-radius: 25px;
  }

</style>
