---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="flex flex-col pt-4 pb-4 justify-center items-center gap-6 bg-gray-200 dark:bg-gray-800">

    <!-- <span>Desarrollado con Astro</span>
    <Icon name="astro" class="astro-icon" />
    <span>y Tailwind CSS</span>
    <Icon name="tailwind" class="tailwind-icon" /> -->
    <div class="font-mono text-lg text-center">{t('footer.rights')}</div>
    <div class="flex gap-6">
      <a
        href="https://github.com/franferrandez"
        target="_blank"
        rel="noreferrer nopener"><Icon name="github" /></a
      >
      <a href="mailto:franciscoferrandezmartinez@gmail.com"
        ><Icon name="mail" /></a
      >
      <a
        href="https://www.linkedin.com/in/franferrandez/"
        target="_blank"
        rel="noreferrer nopener"><Icon name="linkedin" /></a
      >
    </div>
  </footer>

<style>
  :root {
    --tailwind-color: #06b6d4; /* Color de marca para los iconos */
    --astro-color: black;
  }

  .dark {
    --astro-color: white;
  }

  .astro-icon {
    color: var(--astro-color);
    font-size: 1.5rem;
  }

  .tailwind-icon {
    color: var(--tailwind-color);
    font-size: 1.5rem;
  }

  hr {
    width: 100%;
  }

  [data-icon] {
    font-size: 3rem;
  }
  a {
    display: inline-block; /* Asegura que el elemento se trate como un bloque en línea para transformaciones */
    transition:
      transform 0.2s,
      color 0.2s;
  }

  a:hover {
    transform: scale(1.1);
  }

  .logo {
    user-select: none; /* Evita que el texto sea seleccionable */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
  }
  
  .logo h1 {
    color: inherit; /* Asegura que el color del texto se mantenga igual */
  }
</style>
