---
import { Icon } from "astro-icon/components";
---

<section class="flex mt-4 mb-4 justify-between items-center gap-2 px-4">
  <div>franferrandez.</div>
  <div class="flex items-center gap-1">
    <span>Desarrollado con Astro</span>
    <Icon name="astro" class="astro-icon" />
    <span>y Tailwind CSS</span>
    <Icon name="tailwind" class="tailwind-icon" />
  </div>
</section>

<style>
  :root {
    --tailwind-color: #06b6d4; /* Color de marca para los iconos */
    --astro-color: black;
  }

  .dark {
    --astro-color: white;
  }

  .astro-icon {
    color: var(--astro-color);
    font-size: 1.5rem;
  }

  .tailwind-icon {
    color: var(--tailwind-color);
    font-size: 1.5rem;
  }
</style>
