---
import Toggle from "./Toggle.astro";
import { Icon } from "astro-icon/components";
---

<header class="pt-1 pb-1 bg-gray-200 dark:bg-gray-800">
  <section class="ml-10 mr-10 mb-3">
    <div class="flex items-center justify-between mt-2">
      <a href="/" class="flex items-center gap-4 logo">
        <!-- Envolvemos en un <a> -->
        <!-- <img class="w-16 h-16" src="./img/franferrandez.png" alt="icon" /> -->
        <Icon name="franferrandez" class="w-16 h-16" />
        <div class="flex flex-col">
          <h1 class="text-2xl font-mono font-semibold">FRANCISCO</h1>
          <h1 class="text-xs font-mono">FERRÁNDEZ MARTÍNEZ</h1>
        </div>
      </a>

      <div class="flex movil gap-3 items-center">
        <div class="flex gap-4 font-light text-xl">
          <a class="logo" href="/es">
            <div>ES</div>
          </a>
          <!-- Línea vertical -->
          <div>|</div>
          <a class="logo" href="/en">
            <div>EN</div>
          </a>
        </div>
        <div class="ml-3 flex gap-2">
          <a
            href="https://github.com/franferrandez"
            target="_blank"
            rel="noreferrer nopener"><Icon name="github" /></a
          >
          <a href="mailto:franciscoferrandezmartinez@gmail.com"
            ><Icon name="mail" /></a
          >
          <a
            href="https://www.linkedin.com/in/franferrandez/"
            target="_blank"
            rel="noreferrer nopener"><Icon name="linkedin" /></a
          >
        </div>
        <Toggle />
      </div>

      <Icon id="menuToggle" name="menu"/>
    </div>

    <!-- Menú desplegable en móviles (oculto inicialmente) -->
    <div id="mobileMenu" class="flex justify-between mt-5 bg-gray-300 dark:bg-gray-700">
      <div class="flex gap-4 font-light text-xl">
        <a class="logo" href="/es">ES</a>
        <div>|</div>
        <a class="logo" href="/en">EN</a>
      </div>
      <div class="ml-3 flex gap-2">
        <a
          href="https://github.com/franferrandez"
          target="_blank"
          rel="noreferrer nopener"><Icon name="github" /></a
        >
        <a href="mailto:franciscoferrandezmartinez@gmail.com"
          ><Icon name="mail" /></a
        >
        <a
          href="https://www.linkedin.com/in/franferrandez/"
          target="_blank"
          rel="noreferrer nopener"><Icon name="linkedin" /></a
        >
      </div>
      <Toggle/>
    </div>
  </section>
</header>
<!-- <hr class="bg-white "/> -->

<style>
  header {
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;
  }
  hr {
    width: 100%;
  }

  [data-icon] {
    font-size: 2rem;
  }
  a {
    transition:
      transform 0.2s,
      color 0.2s;
  }

  a:hover {
    transform: scale(1.1);
  }

  .logo {
    user-select: none; /* Evita que el texto sea seleccionable */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
  }

  .logo h1 {
    color: inherit; /* Asegura que el color del texto se mantenga igual */
  }

  #menuToggle {
    display: none;
  }

  #mobileMenu {
    display: none;
  }

  /* Mostrar menú en móviles */
  @media (max-width: 625px) {
    .movil {
      display: none;
    }

    #menuToggle {
      display: block;
      cursor: pointer;
    }

    #menuToggle:hover {
      font-size: 2.1rem;
    }

    #mobileMenu.active {
      display: flex;
    }
  }
</style>

<!-- JavaScript para alternar el menú -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuToggle = document.getElementById('menuToggle');
    const mobileMenu = document.getElementById('mobileMenu');

    console.log('no pasa', menuToggle, mobileMenu)
    // Verifica si existe el botón para alternar el menú
    if (!menuToggle || !mobileMenu) return;

    console.log('pasa')
    // Agregar evento de clic para mostrar/ocultar el menú
    menuToggle.addEventListener('click', function (event) {
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace
      mobileMenu.classList.toggle('active'); // Alterna la clase 'active' en el menú
    });
  });
</script>


