---
import Toggle from "./Toggle.astro";
import { Icon } from "astro-icon/components";
---

<header class="pt-1 pb-1 bg-indigo-400 dark:bg-indigo-800 ">
  <section class="ml-10 mr-10 mb-3">
    
    <div class="flex items-center justify-between mt-2">
      <a href="/" class="flex flex-col logo"> <!-- Envolvemos en un <a> -->
        <h1 class="text-2xl font-mono">FRANCISCO</h1>
        <h1 class="text-xs font-mono">FERRÁNDEZ MARTÍNEZ</h1>
      </a>

      
      <div class="flex gap-3 items-center">
        <div class="flex gap-2">
          <a
            href="https://github.com/franferrandez"
            target="_blank"
            rel="noreferrer nopener"><Icon name="github" /></a
          >
          <a href="mailto:franciscoferrandezmartinez@gmail.com"
            ><Icon name="mail" /></a
          >
          <a
            href="https://www.linkedin.com/in/franferrandez/"
            target="_blank"
            rel="noreferrer nopener"><Icon name="linkedin" /></a
          >
        </div>
        <Toggle />
      </div>
    </div>
    
  </section>
  <!-- <hr class="bg-white "/> -->
</header>

<style>
  hr {
    width: 100%;
  }

  [data-icon] {
    font-size: 2rem;
  }
  a {
    display: inline-block; /* Asegura que el elemento se trate como un bloque en línea para transformaciones */
    transition:
      transform 0.2s,
      color 0.2s;
  }

  a:hover {
    transform: scale(1.1);
  }

  .logo {
    user-select: none; /* Evita que el texto sea seleccionable */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
  }
  
  .logo h1 {
    color: inherit; /* Asegura que el color del texto se mantenga igual */
  }
</style>
