---
import { Icon } from "astro-icon/components";
---

<section>
  <div>
    <h1 class="text-4xl">Francisco Ferrández</h1>
    <div id="social">
      <a
        href="https://github.com/franferrandez"
        target="_blank"
        rel="noreferrer nopener"><Icon name="github" /></a
      >
      <a href="mailto:franciscoferrandezmartinez@gmail.com"
        ><Icon name="mail" /></a
      >
    </div>
  </div>
  <hr />
  <h3 class="text-xl">Ingeniero Informático</h3>
</section>

<style>
    section {
        margin-bottom: 2rem;
    }
  hr {
    width: 100%;
  }

  [data-icon] {
    font-size: 2rem;
    color: var(--brand-color);
  }
  #social {
    display: flex;
    gap: 10px;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
