---
import Section from "./Section.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t('languages.title')}>
  <div class="grid col-span-1 gap-5">
    <div>
      <div class="flex justify-between">
        <label>{t('languages.spanish.label')}</label>
        <label>{t('languages.spanish.level')}</label>
      </div>
      <hr />
    </div>
    <div>
      <div class="flex justify-between">
        <label>{t('languages.english.label')}</label>
        <label>{t('languages.english.level')}</label>
      </div>
      <hr />
    </div>
    <div>
      <div class="flex justify-between">
        <label>{t('languages.valencian.label')}</label>
        <label>{t('languages.valencian.level')}</label>
      </div>
      <hr />
    </div>
  </div>
</Section>


<style>
    label {
    /*text-wrap: balance;*/
    margin-bottom: 1rem;
    text-align: justify;
    font-size: larger;
  }
</style>
