---
const { title } = Astro.props;

/* Hacemos smooth scroll a través del a con href */

---
<a class="text-lg custom-hover" href={'#' + title.toLowerCase()}>{title}</a>

<style>
  .custom-hover {
    display: inline-block; /* Asegura que el elemento se trate como un bloque en línea para transformaciones */
    transition: transform 0.2s, color 0.2s;
  }

  .custom-hover:hover {
    transform: scale(1.1);
  }
</style>

