---
const { title } = Astro.props;
const href = title.toLowerCase();
---
<a class="text-lg custom-hover" href={'#' + href}>{title}</a>

<style>
  .custom-hover {
    display: inline-block; /* Asegura que el elemento se trate como un bloque en línea para transformaciones */
    transition: transform 0.2s, color 0.2s;
  }

  .custom-hover:hover {
    transform: scale(1.1);
  }
</style>

