---
import Section from "./Section.astro";
import Card from "./Card.astro";
import Etiqueta from "./Etiqueta.astro";
---

<Section title="Proyectos">
  <!-- md:grid md:grid-cols-2 md:gap-5 -->
  <div class="flex flex-col items-center gap-5">
    <Card
      title="SGIWeb"
      description="Opera tu negocio con este ERP que ofrece una interfaz de usuario moderna y una experiencia de usuario fluida, dando soporte a la automatización y gestión para que las empresas puedan mantener un control riguroso sobre sus operaciones diarias."
    >
      <Etiqueta name="Angular" />
      <Etiqueta name=".NET" />
    </Card>
    <Card
      title="AkraVeriFactu"
      description="Facilita el cumplimiento de las normativas fiscales al proporcionar una plataforma para la gestión y presentación de documentos fiscales. AkraVeriFactu ofrece una solución robusta y fiable para las empresas que necesitan mantenerse al día con las regulaciones fiscales."
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" /></Card
    >
    <Card
      title="AkraFACe"
      description="Gestiona segura y eficientemente tus facturas electrónicas. Facilitando la presentación de éstas a través de una aplicación aplicación integrada o desde el portal FACe."
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" /></Card
    >
    <Card
      title="MailManager"
      description="Automatiza la gestión de correos electrónicos. Esta herramienta busca correos electrónicos no leídos en la bandeja de entrada para generar respuestas automáticas."
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" /></Card
    >
    <!-- <Card
      title="Akra x Google"
      description="Módulo integrado dentro de una aplicación de facturación que replica las interfaces de Google Tasks y Google Calendar. Este módulo permite a los usuarios organizar su agenda con mayor flexibilidad, combinando la gestión de tareas y eventos en una sola plataforma. Desarrollado con WinForms y VB, Akra x Google facilita la planificación y organización personal y profesional, integrándose perfectamente con las herramientas de Google para una experiencia de usuario coherente y eficiente."
    />
    <Card
      title="Módulo alquiler"
      description="Ampliación de código que añade un completo sistema de gestión de alquileres y facturación a una aplicación ya existente de compra y venta de inmuebles. Este módulo está diseñado para integrarse sin problemas en la estructura de la aplicación original, proporcionando funcionalidades avanzadas para la administración de propiedades en alquiler. Desarrollado con WinForms y VisualBasic, el Módulo de Alquiler permite gestionar contratos de arrendamiento, seguimiento de pagos de alquiler, generación de facturas y reportes financieros, ofreciendo una solución integral para la gestión inmobiliaria tanto de compra y venta como de alquiler."
    /> -->
  </div>
</Section>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      } else {
        entry.target.classList.remove('visible'); // Opcional: Puedes mantenerlo visible una vez aparezca
      }
    });
  });

  // Selecciona todas las tarjetas
  const cards = document.querySelectorAll('.card');

  // Observa cada tarjeta
  cards.forEach((card) => observer.observe(card));
</script>