---
import Section from "./Section.astro";
import Card from "./Card.astro";
import Etiqueta from "./Etiqueta.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t('projects.title')}>
  <div class="flex flex-col items-center gap-5">
    <Card
      title={t('projects.sgiweb.title')}
      description={t('projects.sgiweb.description')}
    >
      <Etiqueta name="Angular" />
      <Etiqueta name=".NET" />
    </Card>
    <Card
      title={t('projects.akraVeriFactu.title')}
      description={t('projects.akraVeriFactu.description')}
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" />
    </Card>
    <Card
      title={t('projects.akraFACe.title')}
      description={t('projects.akraFACe.description')}
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" />
    </Card>
    <Card
      title={t('projects.mailManager.title')}
      description={t('projects.mailManager.description')}
    >
      <Etiqueta name="WinForms" />
      <Etiqueta name=".NET" />
    </Card>
  </div>
</Section>


<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      } else {
        entry.target.classList.remove('visible'); // Opcional: Puedes mantenerlo visible una vez aparezca
      }
    });
  });

  // Selecciona todas las tarjetas
  const cards = document.querySelectorAll('.card');

  // Observa cada tarjeta
  cards.forEach((card) => observer.observe(card));
</script>