---
import Section from "./Section.astro";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t('technologies.title')}>
  <div class="flex justify-center">
    <div class="grid grid-cols-3 justify-center items-center gap-10">
      <a href="https://angular.dev/" target="_blank" rel="noreferrer nopener"
        ><Icon name="angular" /></a
      >

      <a
        href="https://dotnet.microsoft.com/es-es/"
        target="_blank"
        rel="noreferrer nopener"><Icon name="net" /></a
      >

      <a
        href="https://www.typescriptlang.org/"
        target="_blank"
        rel="noreferrer nopener"><Icon name="typescript" /></a
      >

      <a href="https://git-scm.com/" target="_blank" rel="noreferrer nopener"
        ><Icon class="tech" name="git" /></a
      >

      <a
        href="https://docs.oracle.com/en/java/"
        target="_blank"
        rel="noreferrer nopener"><Icon class="tech" name="java" /></a
      >

      <a href="https://en.cppreference.com/w/c/header" target="_blank" rel="noreferrer nopener"
        ><Icon class="tech" name="c++" /></a
      >
    </div>
  </div>
</Section>

<style>
  [data-icon] {
    font-size: 4rem;
  }

  .tech {
    font-size: 5rem;
  }

  a {
    transition: transform 0.3s;
  }

  a:hover {
    transform: scale(1.1);
  }
</style>
